[submodule "deep"]
	path = deep
	url = git@github.com:ichiroprogrammer/deep_cpp.git
[submodule "gitgoogletest"]
	path = googletest
	url = git@github.com:google/googletest
[submodule "md_gen"]
	path = md_gen
	url = git@github.com:ichiroprogrammer/md_gen
[submodule "comprehensive"]
	path = comprehensive
	url = git@github.com:ichiroprogrammer/comprehensive_cpp.git
[submodule "essential"]
	path = essential
	url = git@github.com:ichiroprogrammer/essential_cpp.git
